{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block main_content %}
{% if user.is_authenticated %}
<section>
<h1>Hello, {{ user.username }}</h1>
{% endif %}
<h2>Backspace is live</h2>
<form action="">
{% crispy booking_form %}
<button type="submit" class="btn btn-primary">Submit</button>
</form>

<h2>User Bookings</h2>
{% for booking in bookings %}
<div>
    {{ booking.workspace }}:{{ booking.date}} - {{ booking.start_time }}:{{booking.end_time }}
    <button type="button" class="btn btn-primary" data-type="get-booking-info" data-booking-id="{{ booking.id }}">Update</button>
    <a href="/booking/{{ booking.id }}/cancel" class="btn btn-danger">Cancel</a>
</div>
{% empty %}
<div>No bookings for user.</div>
{% endfor %}

</section>
{% endblock main_content %}