<!DOCTYPE html>
{% spaceless %}
{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'my_bookings' as my_bookings_url %}
{% url 'book_workspace' as book_workspace_url %}
{% url 'home' as home_url %}
{% endspaceless %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backspace</title>
    <!-- Bootstrap5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

        <!-- Font Awesome CSS -->
     <script src="https://kit.fontawesome.com/f327302962.js" crossorigin="anonymous"></script>  

</head>

<body class="d-flex flex-column justify-content-lg-between min-vh-100">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ home_url }}">
                <img src="{% static 'assets/images/favicon-32x32.png' %}" alt="Website logo">
                Backspace
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item px-1">
                        <a class="nav-link {% if request.path == home_url %} active {% endif %}" {% if request.path == home_url %} aria-current='page' {% endif %} href="{{ home_url }}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item px-1">
                        <a class="nav-link {% if request.path == home_url %} active {% endif %}" {% if request.path == home_url %} aria-current='page'{% endif %} href="{{ my_bookings_url }}">My Bookings</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link {% if request.path == home_url %} active {% endif %}" {% if request.path == home_url %} aria-current='page'{% endif %} href="{{ book_workspace_url }}">Book Workspace</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle user-profile ms-lg-5" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ logout_url }}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item px-1">
                        <a class="nav-link {% if request.path == login_url %} active {% endif %}" {% if request.path == login_url %}aria-current='page' {% endif %} href="{{ login_url }}">Login</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link {% if request.path == signup_url %} active {% endif %}"
                            href="{{ signup_url }}">SignUp</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <!-- displaying Django messages -->
        <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100">
            {% for message in messages %}
            <div class="toast align-items-center text-bg-{{ message.tags }} border-0 show" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ message|safe }}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
            {% endfor %}
        </div>
    </header>
    <main>
        {% block main_content %}
        {% endblock main_content %}
    </main>
    <!-- Bootstrap5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>

        <!-- Footer -->
    <footer class="bg-dark text-light py-4 mt-auto">
        <p class="m-0 text-center text-white">
            {% block copyright %}
             &copy; 2025 Backspace Team. All rights reserved.
        {% endblock copyright %}
    </p>
        <p class="m-0 text-center text-white">Follow Us:
            <a href="https://www.facebook.com/" target="_blank" class="text-white text-decoration-none">
                <i class="fa-brands fa-facebook fs-4"></i>
            </a>
            <a href="https://www.twitter.com/" target="_blank" class="text-white text-decoration-none">
                <i class="fa-brands fa-twitter fs-4"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" class="text-white text-decoration-none">
                <i class="fa-brands fa-instagram fs-4"></i>
            </a>
            <a href="https://www.youtube.com/" target="_blank" class="text-white text-decoration-none">
                <i class="fa-brands fa-youtube fs-4"></i>
            </a>
        </p>
    </footer>
    {% block extras %}
    {% endblock %}
</body>

</html>